<!--
  This template loads for the 'tab.event-detail' state (app.js)
  'event' is a $scope variable created in the EventsCtrl controller (controllers.js)
  The EventsCtrl pulls data from the Events service (service.js)
  The Events service returns an array of event data
-->
<ion-view title="{{event.title}}">
  <ion-content has-header="true" padding="true">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'></ui-gmap-google-map>
    <h3>What now</h3>
  </ion-content>
</ion-view>
