<ion-view title="Events">
  <ion-content class="padding">
    <h1>Create an Event</h1>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Your Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <textarea placeholder="Location"></textarea>
      </label>
      <label class="item item-input">
        <textarea placeholder="Details (optional)"></textarea>
      </label>
      <button class="button button-energized button-full">
        Finish
      </button>
    </div>
  </ion-content>
</ion-view>
