<ion-view title="Events">
  <ion-content class="padding">
    <h1>Create an Event</h1>
    <form ng-submit="createEvent(event)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Title" ng-model="event.title">
        </label>
        <label class="item item-input">
          <textarea placeholder="Details" ng-model="event.details"></textarea>
        </label>
        <button type="submit" class="button button-energized button-full">
          Finish
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
